--space-gray-1000: #181717;
--space-gray-900: #1f2020;
--space-gray-800: #333333;
--space-gray-700: #434242;
--space-gray-600: #4e4e4e;
--space-gray-50: #d2d1d1;
--space-gray-500: #696868;
--space-gray-400: #7d7c7c;
--space-gray-300: #919090;
--space-gray-200: #a7a5a5;
--space-gray-100: #bbbbbb;
--transparency-dark-black-40: #000000;
--transparency-white-24: #ffffff;
--transparency-dark-dark-4: #000000;
--transparency-dark-dark-8: #000000;
--transparency-dark-dark-10: #000000;
--space-gray-25: #eae8e8;
--jupiter-orange-1000: #1f1004;
--jupiter-orange-900: #331903;
--jupiter-orange-800: #4d2602;
--jupiter-orange-700: #683403;
--jupiter-orange-600: #824509;
--jupiter-orange-500: #9f550c;
--jupiter-orange-400: #be650f;
--jupiter-orange-300: #df7400;
--jupiter-orange-200: #fc8507;
--jupiter-orange-100: #ff9741;
--jupiter-orange-50: #ffb783;
--jupiter-orange-25: #ffe3d2;
--space-gray-0: #ffffff;
--uranian-blue-1000: #001833;
--uranian-blue-900: #002041;
--uranian-blue-800: #00315e;
--uranian-blue-700: #00437c;
--uranian-blue-600: #00569c;
--uranian-blue-500: #0069bf;
--uranian-blue-400: #007de3;
--uranian-blue-300: #3892f7;
--uranian-blue-200: #64a8ff;
--uranian-blue-100: #90beff;
--uranian-blue-50: #b8d3ff;
--uranian-blue-25: #e9f6fc;
--alien-green-1000: #001d0d;
--alien-green-900: #002613;
--alien-green-800: #00391f;
--alien-green-700: #004d2c;
--alien-green-600: #006238;
--alien-green-500: #007847;
--alien-green-400: #008f54;
--alien-green-300: #00a661;
--alien-green-200: #00be70;
--alien-green-100: #00d681;
--alien-green-50: #55ec9b;
--alien-green-25: #ebffed;
--star-yellow-1000: #201600;
--star-yellow-900: #2a1e00;
--star-yellow-800: #3f2e00;
--star-yellow-700: #553f00;
--star-yellow-600: #6c5100;
--star-yellow-500: #846300;
--star-yellow-400: #9d7600;
--star-yellow-300: #b68a00;
--star-yellow-200: #d09e04;
--star-yellow-100: #e8b427;
--star-yellow-50: #ffca48;
--star-yellow-25: #fff7da;
--galactic-purple-1000: #1c0054;
--galactic-purple-900: #240069;
--galactic-purple-800: #370095;
--galactic-purple-700: #4b00c4;
--galactic-purple-600: #5f00f5;
--galactic-purple-500: #733aff;
--galactic-purple-400: #865dff;
--galactic-purple-300: #9a7aff;
--galactic-purple-200: #ae96ff;
--galactic-purple-100: #c3b0ff;
--galactic-purple-50: #d8caff;
--galactic-purple-25: #faf4ff;
--martian-red-1000: #390002;
--martian-red-900: #490003;
--martian-red-800: #690006;
--martian-red-700: #8a000b;
--martian-red-600: #ae0011;
--martian-red-500: #d20017;
--martian-red-400: #f9001e;
--martian-red-300: #ff544b;
--martian-red-200: #ff8075;
--martian-red-100: #ffa39a;
--martian-red-50: #ffc3bd;
--martian-red-25: #fff0ee;
--jupiter-orange-10: #fff5e9;
--transparency-yellow-yellow: #fff7da;
--transparency-blue-53: #001833;
--transparency-white-70: #ffffff;
--transparency-dark-dark-15: #000000;
--transparency-dark-black-90: #000000;
--space-gray-10: #eeeeee;
--transparency-dark-dark-12: #000000;
--moon-yellow-1000: #1d1700;
--moon-yellow-900: #332c07;
--moon-yellow-800: #4c420f;
--moon-yellow-700: #665918;
--moon-yellow-600: #817221;
--moon-yellow-500: #9d8b2a;
--moon-yellow-400: #bba633;
--moon-yellow-300: #dac13e;
--moon-yellow-200: #f9dd48;
--moon-yellow-100: #ffe24a;
--moon-yellow-50: #ffeb92;
--moon-yellow-25: #fff4ca;
--transparency-white-4: #ffffff;
--transparency-orange-orange-20: #fc8507;
--sunny-yellow-1000: #261300;
--sunny-yellow-900: #311b00;
--sunny-yellow-800: #482900;
--sunny-yellow-700: #603900;
--sunny-yellow-600: #7a4a00;
--sunny-yellow-500: #955b00;
--sunny-yellow-400: #b06d00;
--sunny-yellow-300: #cd7f00;
--sunny-yellow-200: #ea9200;
--sunny-yellow-100: #ffa218;
--sunny-yellow-50: #ffb151;
--sunny-yellow-25: #ffd6ab;
--transparency-blue-18: #007de3;
--transparency-dark-dark-6: #000000;
--transparency-red-23: #ff5c52;
--space-gray-5: #f7f7f7;
--transparency-green-18: #00d681;
--transparency-green-28: #00d681;
--transparency-gray-90: #eeeeee;
--transparency-white-10: #ffffff;
--transparency-purple-20: #865dff;
--transparency-white-10: #ffffff;
