--text-primary: var(--space-gray-800);
--text-secondary: var(--space-gray-600);
--text-tertiary: var(--space-gray-400);
--text-disabled: var(--space-gray-100);
--text-link: var(--uranian-blue-400);
--text-primary-inverse: var(--space-gray-0);
--text-brand: var(--jupiter-orange-200);
--text-success: var(--alien-green-200);
--text-error: var(--martian-red-300);
--text-warning: var(--sunny-yellow-300);
--text-info: var(--uranian-blue-300);
--text-wobbler-red: var(--martian-red-300);
--text-wobbler-purple: var(--galactic-purple-400);
--text-wobbler-green: var(--alien-green-200);
--text-wobbler-blue: var(--uranian-blue-300);
--background-primary: var(--space-gray-5);
--background-secondary: var(--space-gray-0);
--background-tertiary: var(--space-gray-10);
--background-disabled: var(--space-gray-25);
--background-primary-inverse: var(--space-gray-800);
--background-brand-dark: var(--jupiter-orange-200);
--background-brand-main: var(--sunny-yellow-100);
--background-info-main: var(--uranian-blue-300);
--background-info-light: var(--uranian-blue-25);
--background-success-main: var(--alien-green-200);
--background-success-light: var(--alien-green-25);
--background-error-main: var(--martian-red-300);
--background-error-light: var(--martian-red-25);
--background-warning-main: var(--star-yellow-50);
--background-wobbler-purple: #f2edff;
--background-wobbler-red: #fff0ef;
--background-wobbler-green: var(--alien-green-25);
--background-wobbler-blue: #ddeffc;
--background-status-blue: #57a9ff;
--background-status-red: #f95757;
--background-status-green: #79ca12;
--background-tab-fill-default: #f0f0f0;
--background-tab-fill-active: var(--space-gray-0);
--background-input-gray-default: #f7f7f7;
--background-input-white-default: var(--space-gray-0);
--icon-primary: var(--space-gray-200);
--icon-secondary: var(--space-gray-100);
--icon-disabled: var(--space-gray-100);
--icon-brand-dark: var(--jupiter-orange-200);
--icon-primary-inverse: var(--space-gray-0);
--icon-selected: var(--space-gray-800);
--icon-link: var(--uranian-blue-400);
--icon-success-dark: #30b25d;
--icon-error: var(--martian-red-300);
--icon-warning: var(--sunny-yellow-300);
--stroke-divider-light: var(--space-gray-25);
--stroke-border: var(--space-gray-50);
--stroke-border-light: var(--space-gray-10);
--stroke-border-brand: var(--jupiter-orange-200);
--stroke-border-error: var(--martian-red-300);
--effects-overlay-modal-dark: var(--transparency-dark-black-40);
--effects-overlay-modal-light: var(--transparency-white-24);
--icon-info-main: #449aff;
--stroke-border-info: var(--uranian-blue-300);
--icon-inverse: var(--space-gray-800);
--background-input-gray-disabled: #f2f2f2;
--background-switch-circle-disabled: #afafaf;
--background-switch-bg: #d9d9d9;
--text-warning-inverse: var(--space-gray-800);
--icon-success-main: #41d172;
--icon-brand-main: #ffa319;
--stroke-border-bg: var(--space-gray-0);
--text-contrast: var(--space-gray-0);
--background-searchbar-orange-dark: #fc8507;
--background-logo-white: #ffffff;
--background-searchbar-input-white: #ffffff;
--stroke-border-hover: var(--space-gray-200);
--background-input-gray-hover: var(--space-gray-10);
--text-input-default: var(--space-gray-400);
--text-input-disabled: var(--space-gray-200);
--effects-bottom-navigation-15: var(--transparency-dark-dark-15);
--effects-shadow-plate-floating-shadow: var(--transparency-dark-dark-12);
--stroke-border-dark: var(--space-gray-700);
--background-tab-bg: var(--transparency-dark-dark-4);
--controls-default-white: var(--space-gray-0);
--controls-hover-orange: var(--jupiter-orange-100);
--controls-selected: var(--jupiter-orange-200);
--controls-disabled: var(--space-gray-25);
--controls-default-gray: var(--space-gray-50);
--controls-hover-gray: var(--space-gray-25);
--icon-info-green: var(--alien-green-700);
--icon-info-orange: var(--jupiter-orange-200);
--icon-info-purple: var(--galactic-purple-500);
--background-wobbler-orange: var(--jupiter-orange-10);
--background-green-light: var(--alien-green-100);
--background-date-range: var(--transparency-yellow-yellow);
--controls-icon-selected: var(--space-gray-0);
--controls-icon-disabled: var(--space-gray-50);
--effects-shadow-plate-2-first: var(--transparency-dark-black-40);
--effects-header-scroll-15: var(--transparency-dark-dark-15);
--background-white-transparency: var(--transparency-white-70);
--stroke-divider-footer: var(--space-gray-600);
--background-footer-social-bg: var(--space-gray-700);
--background-footer-social-hover: var(--space-gray-600);
--background-club-logo-bg: var(--transparency-dark-black-90);
--background-shop-rating-progress: #ffe24a;
--text-primary-inverse-2: var(--space-gray-0);
--background-tab-hover: var(--transparency-dark-dark-10);
--background-warning-light: var(--star-yellow-25);
--text-brand-hover: var(--jupiter-orange-100);
--background-section-bg: var(--space-gray-50);
--effects-button-orange-shadow-20: var(--transparency-orange-orange-20);
--effects-button-blue-shadow-18: var(--transparency-blue-18);
--effects-button-red-shadow-20: #ff5c52;
--stroke-border-pressed: var(--uranian-blue-100);
--button-start: var(--jupiter-orange-200);
--button-end: var(--sunny-yellow-100);
--effects-button-white-shadow-4: var(--transparency-dark-dark-4);
--effects-button-gray-shadow-6: var(--transparency-dark-dark-6);
--stroke-divider-dark: var(--space-gray-100);
--background-skeleton: var(--transparency-dark-dark-4);
--stroke-border-indicator-white: var(--space-gray-0);
--stroke-border-indicator-gray: var(--space-gray-5);
--background-success-secondary: var(--transparency-green-18);
--background-banner-lp: var(--transparency-green-28);
--stroke-border-transparency: var(--transparency-gray-90);
--icon-hover: var(--space-gray-300);
--background-info-dark: var(--uranian-blue-400);
--stroke-border-status-success: var(--alien-green-200);
--stroke-border-status-comleted: var(--galactic-purple-400);
--text-wobbler-yellow: var(--sunny-yellow-300);
--icon-bonus-testimonial: #7c4cff;
--controls-bonus-purple: var(--galactic-purple-500);
--background-bonus-progress: #7c4cff;
--controls-transparency-gray: var(--transparency-dark-dark-15);
--text-bonus: var(--galactic-purple-400);
--stroke-border-inverse: var(--space-gray-0);
--stroke-border-success: var(--alien-green-200);
--stroke-border-bonus: var(--galactic-purple-400);
--stroke-border-warning: var(--sunny-yellow-300);
--icon-bonus: var(--galactic-purple-400);
--icon-brand: var(--jupiter-orange-200);
--icon-success: var(--alien-green-200);
--icon-info: var(--uranian-blue-300);
--background-primary-surface: var(--space-gray-5);
--background-secondary-surface: var(--space-gray-0);
--background-brand-light: var(--jupiter-orange-10);
--background-brand-transparent: var(--transparency-orange-orange-20);
--background-success-dark: var(--alien-green-400);
--background-info-transparent: var(--transparency-blue-18);
--background-success-transparent: var(--transparency-green-18);
--background-error-transparent: var(--transparency-red-23);
--background-error-dark: var(--martian-red-500);
--background-warning-transparent: var(--transparency-yellow-yellow);
--background-warning-dark: var(--star-yellow-200);
--background-bonus-dark: var(--galactic-purple-600);
--background-bonus-main: var(--galactic-purple-400);
--background-bonus-light: var(--galactic-purple-25);
--background-bonus-transparent: var(--transparency-purple-20);
--background-neutral-main: var(--space-gray-100);
--background-neutral-dark: var(--space-gray-300);
--background-neutral-light: var(--space-gray-10);
--background-neutral-transparent: var(--transparency-dark-dark-12);
