--text-primary: var(--space-gray-0);
--text-secondary: var(--space-gray-10);
--text-tertiary: var(--space-gray-200);
--text-disabled: var(--space-gray-500);
--text-link: var(--uranian-blue-400);
--text-primary-inverse: var(--space-gray-0);
--text-brand: var(--jupiter-orange-300);
--text-success: var(--alien-green-200);
--text-error: var(--martian-red-300);
--text-warning: var(--sunny-yellow-200);
--text-info: var(--uranian-blue-200);
--text-wobbler-red: var(--martian-red-300);
--text-wobbler-purple: var(--galactic-purple-200);
--text-wobbler-green: var(--alien-green-200);
--text-wobbler-blue: var(--uranian-blue-200);
--background-primary: var(--space-gray-900);
--background-secondary: var(--space-gray-1000);
--background-tertiary: var(--space-gray-800);
--background-disabled: var(--space-gray-700);
--background-primary-inverse: var(--space-gray-800);
--background-brand-dark: var(--jupiter-orange-300);
--background-brand-main: var(--sunny-yellow-200);
--background-info-main: var(--uranian-blue-500);
--background-info-light: var(--uranian-blue-900);
--background-success-main: var(--alien-green-700);
--background-success-light: var(--alien-green-900);
--background-error-main: var(--martian-red-600);
--background-error-light: var(--martian-red-1000);
--background-warning-main: var(--star-yellow-200);
--background-wobbler-purple: #362f4a;
--background-wobbler-red: #3e1b1b;
--background-wobbler-green: #344020;
--background-wobbler-blue: var(--uranian-blue-800);
--background-status-blue: var(--uranian-blue-800);
--background-status-red: #3e1b1b;
--background-status-green: #344020;
--background-tab-fill-default: #282829;
--background-tab-fill-active: #3d3d3e;
--background-input-gray-default: #1f2020;
--background-input-white-default: #1c1c1c;
--icon-primary: var(--space-gray-400);
--icon-secondary: var(--space-gray-500);
--icon-disabled: var(--space-gray-500);
--icon-brand-dark: #fd8c0b;
--icon-primary-inverse: var(--space-gray-0);
--icon-selected: var(--space-gray-10);
--icon-link: var(--uranian-blue-400);
--icon-success-dark: #33c165;
--icon-error: var(--martian-red-300);
--icon-warning: var(--sunny-yellow-300);
--stroke-divider-light: var(--space-gray-900);
--stroke-border: var(--space-gray-600);
--stroke-border-light: var(--space-gray-800);
--stroke-border-brand: var(--jupiter-orange-300);
--stroke-border-error: var(--martian-red-300);
--effects-overlay-modal-dark: var(--transparency-dark-black-40);
--effects-overlay-modal-light: var(--transparency-white-10);
--icon-info-main: #449aff;
--stroke-border-info: var(--uranian-blue-200);
--icon-inverse: #f2f2f2;
--background-input-gray-disabled: #353535;
--background-switch-circle-disabled: #7d7d7d;
--background-switch-bg: #5a5a5e;
--text-warning-inverse: var(--space-gray-800);
--icon-success-main: #41d172;
--icon-brand-main: #ffa319;
--stroke-border-bg: var(--space-gray-1000);
--text-contrast: var(--space-gray-0);
--background-searchbar-orange-dark: #1c1c1e;
--background-logo-white: #fd8c0b;
--background-searchbar-input-white: #353535;
--stroke-border-hover: var(--space-gray-400);
--background-input-gray-hover: #252525;
--text-input-default: var(--space-gray-400);
--text-input-disabled: var(--space-gray-700);
--effects-bottom-navigation-15: var(--transparency-dark-black-40);
--effects-shadow-plate-floating-shadow: var(--transparency-dark-dark-12);
--stroke-border-dark: var(--space-gray-500);
--background-tab-bg: var(--transparency-white-4);
--controls-default-white: var(--space-gray-900);
--controls-hover-orange: var(--jupiter-orange-100);
--controls-selected: var(--jupiter-orange-200);
--controls-disabled: var(--space-gray-900);
--controls-default-gray: var(--space-gray-600);
--controls-hover-gray: var(--space-gray-400);
--icon-info-green: #33c165;
--icon-info-orange: var(--jupiter-orange-200);
--icon-info-purple: var(--galactic-purple-500);
--background-wobbler-orange: var(--star-yellow-25);
--background-green-light: var(--alien-green-200);
--background-date-range: #332b0f;
--controls-icon-selected: var(--space-gray-25);
--controls-icon-disabled: var(--space-gray-700);
--effects-shadow-plate-2-first: var(--transparency-dark-black-40);
--effects-header-scroll-15: var(--transparency-dark-black-40);
--background-white-transparency: var(--transparency-white-70);
--stroke-divider-footer: var(--space-gray-800);
--background-footer-social-bg: var(--space-gray-900);
--background-footer-social-hover: var(--space-gray-700);
--background-club-logo-bg: var(--transparency-dark-black-90);
--background-shop-rating-progress: #ffe24a;
--text-primary-inverse-2: var(--space-gray-25);
--background-tab-hover: var(--transparency-dark-dark-10);
--background-warning-light: var(--star-yellow-900);
--text-brand-hover: var(--jupiter-orange-200);
--background-section-bg: var(--space-gray-50);
--effects-button-orange-shadow-20: var(--transparency-orange-orange-20);
--effects-button-blue-shadow-18: var(--transparency-blue-18);
--effects-button-red-shadow-20: #ff5c52;
--stroke-border-pressed: var(--uranian-blue-100);
--button-start: var(--jupiter-orange-200);
--button-end: var(--sunny-yellow-100);
--effects-button-white-shadow-4: var(--transparency-dark-dark-4);
--effects-button-gray-shadow-6: var(--transparency-dark-dark-6);
--stroke-divider-dark: var(--space-gray-800);
--background-skeleton: var(--space-gray-700);
--stroke-border-indicator-white: var(--space-gray-900);
--stroke-border-indicator-gray: var(--space-gray-900);
--background-success-secondary: #41d172;
--background-banner-lp: var(--transparency-green-18);
--stroke-border-transparency: var(--transparency-gray-90);
--icon-hover: var(--space-gray-300);
--background-info-dark: var(--uranian-blue-600);
--stroke-border-status-success: var(--alien-green-200);
--stroke-border-status-comleted: var(--galactic-purple-200);
--text-wobbler-yellow: var(--sunny-yellow-300);
--icon-bonus-testimonial: var(--galactic-purple-500);
--controls-bonus-purple: var(--galactic-purple-500);
--background-bonus-progress: var(--galactic-purple-500);
--text-bonus: var(--galactic-purple-200);
--stroke-border-inverse: var(--space-gray-1000);
--stroke-border-success: var(--alien-green-200);
--stroke-border-bonus: var(--galactic-purple-200);
--stroke-border-warning: var(--sunny-yellow-300);
--icon-bonus: var(--galactic-purple-200);
--icon-brand: var(--jupiter-orange-300);
--icon-success: var(--alien-green-200);
--icon-info: var(--uranian-blue-200);
--background-primary-surface: var(--space-gray-800);
--background-secondary-surface: var(--space-gray-800);
--background-brand-light: var(--jupiter-orange-900);
--background-brand-transparent: var(--transparency-orange-orange-20);
--background-success-dark: var(--alien-green-500);
--background-info-transparent: var(--transparency-blue-18);
--background-success-transparent: var(--transparency-green-18);
--background-error-transparent: var(--transparency-red-23);
--background-error-dark: var(--martian-red-400);
--background-warning-transparent: var(--transparency-yellow-yellow);
--background-warning-dark: var(--star-yellow-300);
--background-bonus-dark: var(--galactic-purple-400);
--background-bonus-main: var(--galactic-purple-500);
--background-bonus-light: var(--galactic-purple-900);
--background-bonus-transparent: var(--transparency-purple-20);
--background-neutral-main: var(--space-gray-500);
--background-neutral-dark: var(--space-gray-300);
--background-neutral-light: var(--space-gray-800);
--background-neutral-transparent: var(--transparency-white-10);
