--spaces-semantic-tiny-4px: var(--spaces-static-4);
--spaces-semantic-small-8px: var(--spaces-static-8);
--spaces-semantic-medium-12px: var(--spaces-static-12);
--spaces-semantic-large-16px: var(--spaces-static-16);
--spaces-semantic-xl-20px: var(--spaces-static-20);
--spaces-semantic-xxl-24px: var(--spaces-static-24);
--spaces-semantic-xxxl-28px: var(--spaces-static-28);
--spaces-semantic-4xl-32px: var(--spaces-static-32);
--spaces-semantic-5xl-40px: var(--spaces-static-40);
--spaces-semantic-huge-100px: var(--spaces-static-100);
--spaces-semantic-extra-huge-120px: var(--spaces-static-120);
--spaces-semantic-6xl-60px: var(--spaces-static-60);
--spaces-semantic-content-margin-270px: var(--spaces-static-270);
--spaces-static-4: var(--100);
--spaces-static-8: var(--200);
--spaces-static-12: var(--300);
--spaces-static-16: var(--400);
--spaces-static-20: var(--500);
--spaces-static-24: var(--600);
--spaces-static-28: var(--700);
--spaces-static-32: var(--800);
--spaces-static-40: var(--1000);
--spaces-static-60: var(--1500);
--spaces-static-100: var(--2500);
--spaces-static-120: var(--2600);
--spaces-static-270: var(--2700);
