--font-family-display: "PT Sans";
--font-family-heading: "PT Sans";
--font-family-paragraph: "PT Sans";
--font-weight-headings-display: "Bold";
--font-weight-headings-heading: "Bold";
--font-weight-body-paragraph: 400;
--font-sizes-display-display-xl: 0px;
--font-sizes-heading-h6: 0px;
--font-sizes-body-paragraph-12px: 0px;
--font-sizes-body-small-14px: 14px;
--font-sizes-body-tiny-16px: 0px;
--font-sizes-body-tiny-18px-4: 0px;
