--0: 0px;
--25: 1px;
--50: 2px;
--100: 4px;
--200: 8px;
--300: 12px;
--400: 16px;
--500: 20px;
--600: 24px;
--700: 28px;
--800: 32px;
--900: 36px;
--1000: 40px;
--1100: 44px;
--1200: 48px;
--1300: 52px;
--1400: 56px;
--1500: 60px;
--1600: 64px;
--1700: 68px;
--1800: 72px;
--1900: 76px;
--2000: 80px;
--2100: 84px;
--2200: 88px;
--2300: 92px;
--2400: 96px;
--2500: 100px;
--2600: 120px;
--2700: 270px;
--2800: 320px;
--2900: 360px;
--3000: 480px;
--3100: 600px;
--3200: 1200px;
